.element-1 {
    display: inline;
    background-color: red;
    color: white;
}
.element-2 {
    display: inline;
    background-color: blueviolet;
    color: white;
}
.element-3 {
    display: inline;
    background-color: green;
    color: white;
}
.element-4 {
    display: inline;
    background-color: cornflowerblue;
    color: white;
}