body {
padding: 50px; /* Добавляет отступы в 50 пикселей со всех сторон тела документа */
}
.cart {
position: relative; /* Устанавливает относительное позиционирование для контейнера
корзины, позволяя позиционировать дочерние элементы относительно него */
display: block; /* Устанавливает элемент как блочный, что позволяет ему
занимать всю ширину доступного пространства */
width: 30px;
height: 30px;
}
.cart img {
width: 50px; /* Ширина изображения корзины */
height: auto; /* Автоматическая высота */
}
.cart-number {
position: absolute;
right: -15px; /* Сдвигает число на 30 пикселей вправо относительно правого края
контейнера корзины */
top: -15px; /* Сдвигает число на 30 пикселей вверх относительно верхнего края
контейнера корзины */
display: inline-block; /* Устанавливает элемент как строчно-блочный, что позволяет
ему иметь размеры и отступы, как у блочного элемента */
padding: 2px 7px; /* Добавляет внутренние отступы: 2 пикселя сверху и снизу,
7 пикселей слева и справа */
color: #fff; /* Устанавливает цвет текста числа в белый */
background-color: crimson; /* Устанавливает фоновый цвет числа в цвет
"кримсон" (темно-красный) */
border-radius: 100%; /* Фон будет круглым */
}